.stack-work/
*~

# Created by https://www.toptal.com/developers/gitignore/api/localstack,haskell,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=localstack,haskell,visualstudiocode

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

### LocalStack ###
# https://github.com/localstack/localstack
**/.localstack

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


src/.liquid
# End of https://www.toptal.com/developers/gitignore/api/localstack,haskell,visualstudiocode
ghcid.txt!
src/PopPush.hs
src/BinomialHeap.hs
Dockerfile
Dockerfile.z3_stack
test.tex
